@model DBank.Application.Bank.Queries.GetBankStatistics.BankStatisticsViewModel

<div class="flex flex-column">
    <div class="row pb-3">
        <h1>Overall statistics</h1>
    </div>

    <div class="row">
        <div class="col">
            <div class="card bank-card flex">
                <h3 class="my-3">Number of customers:</h3>
                <h5>@Model.NumberOfCustomers</h5>
            </div>
        </div>
        <div class="col">
            <div class="card bank-card flex">
                <h3 class="my-3">Number of accounts:</h3>
                <h5>@Model.NumberOfAccounts</h5>
            </div>
        </div>
        <div class="col">
            <div class="card bank-card flex">
                <h3 class="my-3">Total balance:</h3>
                <h5> @Model.TotalBalance SEK</h5>
            </div>      
        </div>
    </div>
</div>
