@model DBank.Application.Bank.Queries.GetBankStatistics.BankStatisticsViewModel

<div class="text-center">
    <p>Number of customers: @Model.NumberOfCustomers</p>
    <p>Number of accounts: @Model.NumberOfAccounts</p>
    <p>Total balance: @Model.TotalBalance</p>
</div>
